/* Root */
.root {
    -fx-font-family: "Segoe UI";
}

/* Menu */
.menu-bar {
    -fx-background-color: #8B4513; /* brown */
}

/* Left panel */
.left-panel {
    -fx-background-color: #b07d37;
}

/* Right panel */
.right-panel {
    -fx-background-color: #7CFC00; /* bright green */
}

/* Form buttons */
.form-button {
    -fx-background-color: #b07d37;
    -fx-text-fill: black;
    -fx-background-radius: 15;
    -fx-pref-height: 40;
}

/* Table header */
.table-view .column-header-background {
    -fx-background-color: #9e9e9e;
}

/* Bottom status bar */
.status-bar {
    -fx-background-color: #9e9e9e;
    -fx-padding: 5 10 5 10;
}